.input{
    margin-bottom: 15px;
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 15px;
    .l{float: left;margin-right: 10px;}
    .r{float: right; margin-left: 10px;}
    .select{
        width: 100px;
    }
}
.tableData{
    margin-top: 60px;
}

.drawer-box{
    margin: 20px;
}